<ion-view view-title="Welcome">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">{{'Please fill the form'}}</div>
      <div class="item item-body">
        <div>

          <a ng-click="register_mode='sign_up_sms'" class="button button-small">
            {{'Get sms to signup'}}
          </a>

          <!-- NAVIGASYON BUTONLARI / END-->


          <!-- NG INIT KULLANILDI... -->
          <!---------------sign_up_sms ---------!-->
          <div class="list">
          <!--<div class="list">-->
            <form ng-submit="sendSms()" name="sms_form" ng-show="register_mode=='sign_up_sms'" novalidate>
              <label class="item item-input item-stacked-label">
                <span class="input-label">GSM Number :</span>
                <input type="text" ng-model="form.gsm" placeholder='{{"Gsm:5053093636"}}' required>
              </label>

              <div class="list list-inset" ng-show="lastResponse">

                <div class="item">
                  {{lastResponse}}
                </div>
              </div>

              <button class="button button-block button-positive" type="submit" ng-disabled="sms_form.$invalid">
                {{'Send'}}
              </button>
            </form>
          </div>


          <!--------------- sms verify---------!-->
          <form name="login_form" ng-show="register_mode == 'login'" ng-submit="login()" novalidate>
              <label class="item item-input item-stacked-label">
                  <span class="input-label">{{'Username :'}}</span>
                  <input type="text" ng-model="form.username"  required>
              </label>
              
            <label class="item item-input item-stacked-label">
              <span class="input-label">{{'Password :'}}</span>
              <input type="password" ng-model="form.password"  required>
            </label>
            <button class="button button-block button-positive" type="submit" ng-disabled="login_form.$invalid">
              {{'Login'}}
            </button>
          </form>
          <!--------------- sms verify---------!-->

          <a ng-click="register_mode = 'login'" class="button button-positive button-block" ng-show="register_mode != 'login' && register_mode">
              {{'Back to login page'}}
          </a>


          <pre>
              {{resp}}
          </pre>

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
